<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 container jumbotron">
            <form action="{% url 'home' %}" method="post" id="myForm">
                {% csrf_token %}

                <table> {{ registerform.as_table }}
                </table>


                <!-- <input type="text" placeholder="Name" name="name" id="reg" required>
                <input type="email" placeholder="Email" name="email" id="reg" required> -->
                <br><br><br>
                <div id="education-section">
                    <div class="education-input">
                        {{ formset.management_form }}

                        {% for form in formset %}
                        <table> {{ form.as_table}}
                          
                            <button type="button" class="btn btn-sm btn-info remove-education"><span>&minus;</span></button><br>
                        </table>
                        {% endfor %}
                        <!-- <input type="text" placeholder="Degree" name="degree" id="nameInput" required>
                        <input type="text" placeholder="University" name="university" id="emailInput" required>
                        <input type="number" placeholder="Year" name="year" id="info" required>
                        <button type="button" class="btn btn-sm btn-info remove-education"><span>&minus;</span></button><br> -->
                    </div>
                </div>
                <button type="button" class="btn  btn-info add-education"><span>&plus;</span></button>
                <button type="submit" class="btn btn-warning ">Submit</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById('myForm');
            const educationSection = document.getElementById('education-section');
            const initialRow = educationSection.querySelector('.education-input').cloneNode(true);

            form.addEventListener('click', function (e) {
                if (e.target.classList.contains('remove-education')) {
                    e.preventDefault();
                    if (educationSection.children.length > 1) {
                        const educationInput = e.target.parentElement;
                        educationSection.removeChild(educationInput);
                    }
                }

                if (e.target.classList.contains('add-education')) {
                    e.preventDefault();
                    const newEducationInput = initialRow.cloneNode(true);

                    // Clear input values in the new row
                    newEducationInput.querySelectorAll('input').forEach(input => {
                        input.value = '';
                    });

                    educationSection.appendChild(newEducationInput);
                }
            });
        });
    </script>    </body>

</html>